@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */


/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* Force scrollbar */

html {
    overflow-y: scroll;
}


/* Align radios and text inputs with their label */

input[type='radio'] {
    vertical-align: text-bottom;
}


/* Hand cursor on clickable input elements */

label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}


/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*for all*/

body {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}


/*for wrapper*/

.wrapper {
    max-width: 1360px;
    width: 86%;
    margin: 0 auto;
}


/*=================================
  Header styling starts here
=================================*/

.bg-wheat {
    background-color: wheat;
}

.inline p,
.float-right {
    display: inline-block;
    margin: 5px 0px;
}

.float-right {
    float: right;
}

.float-right li {
    margin-right: 10px;
    padding: 5px;
}

.float-right li:hover {
    background-color: rgb(255, 174, 24);
    color: black;
}

.mothers-day {
    margin: 10px 0px;
    text-align: center;
}

.mySlides img {
    margin: 10px 0px;
}

.border-down {
    border-bottom: solid 1px;
    border-color: rgb(250, 201, 110);
}

.inline h1 {
    margin-top: 20px;
    float: left;
    width: 20%;
    text-transform: uppercase;
    font-size: x-large;
}

.inline nav,
.serach-box {
    float: left;
    width: 35%;
}

.serach-box {
    float: right;
    position: relative;
}

.serach-box button {
    position: absolute;
    margin-left: -29px;
}

.serach-box form {
    margin-top: 20px;
    float: right;
}

nav ul {
    display: flex;
}

nav li:hover {
    background-color: rgb(255, 174, 24);
    color: black;
}

.inline::after {
    content: "";
    display: table;
    clear: both;
}

.inline nav li {
    margin: 10px;
    padding: 10px;
}

.bg-lightblue {
    background-color: rgb(196, 220, 228);
}

.like-beauty {
    text-align: center;
}

.like-beauty h2 {
    font-weight: 300;
    font-size: x-large;
    margin-top: 12px;
    margin-bottom: 12px;
}

.like-beauty p {
    font-size: small;
    margin: 12px 0px;
}

.btn-stuct button {
    border: none;
    cursor: pointer;
    padding: 14px 28px;
    margin: 12px 0px;
}

.orange button {
    background-color: rgba(255, 179, 80, 0.767);
}

.orange button:hover {
    background-color: rgb(255, 174, 24);
}

.bg-wheat {
    background-color: wheat;
}


/*=================================
  Header styling ends here
=================================*/


/*=================================
  main styling starts here
=================================*/

.monthly-box,
.commitment,
.fav-shop,
.featured,
.saying {
    text-align: center;
}

.monthly-box,
.commitment,
.fav-shop,
.featured {
    border-bottom: solid;
    border-color: yellow;
}

.monthly-box h2 {
    font-size: x-large;
    margin: 32px 0px;
}

.monthly-box p {
    font-size: small;
    margin: 12px 0px;
}

.commitment p {
    font-size: small;
    margin: 12px 0px;
}

.items {
    display: flex;
    justify-content: center;
}

.item1 {
    margin: 12px 10px;
}

.item1 figure figcaption {
    margin-top: 10px;
    font-size: medium;
}

.commitment,
.fav-shop,
.featured,
.saying h2 {
    font-size: x-large;
    margin: 32px 0px;
}


/*=================================
  main styling ends here
=================================*/

.row-img {
    display: flex;
    justify-content: center;
}

.row-img figure {
    padding: 10px;
}


/*=================================
  main styling ends here


/*=================================
  footer styling starts here
=================================*/


/*=================================
  footer styling starts here
=================================*/


/*=================================
  footer styling starts here
=================================*/


/*=================================
  footer styling ends here
=================================*/


/*media query starts*/


/*media query for 995px starts here*/

@media only screen and (max-width: 995px) {}