@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */


/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* Force scrollbar */

html {
    overflow-y: scroll;
}


/* Align radios and text inputs with their label */

input[type='radio'] {
    vertical-align: text-bottom;
}


/* Hand cursor on clickable input elements */

label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}


/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*for all*/

body {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}


/*for wrapper*/

.wrapper {
    max-width: 1360px;
    width: 86%;
    margin: 0 auto;
}


/*=================================
  Header styling starts here
=================================*/

* {
    color: gray;
}

.bg-wheat {
    background-color: wheat;
}

.inline p,
.float-right {
    display: inline-block;
    font-size: small;
}

.inline p {
    margin: 5px 0px;
    color: gray;
}

.float-right {
    float: right;
}

.float-right li {
    margin-right: 10px;
    padding: 5px;
}

.float-right li:hover {
    background-color: rgb(255, 174, 24);
    color: black;
}

.mothers-day {
    margin: 10px 0px;
    text-align: center;
}

.mySlides img {
    margin: 10px 0px;
}

.border-down {
    border-bottom: solid 1px;
    border-color: rgb(250, 201, 110);
}

.inline h1 {
    margin-top: 20px;
    float: left;
    width: 20%;
    text-transform: uppercase;
    font-size: x-large;
}

.inline nav,
.serach-box {
    float: left;
}

.serach-box {
    float: right;
    position: relative;
}

.serach-box button {
    position: absolute;
    margin-left: -31px;
    margin-top: 6px;
    border: none;
    background: transparent;
}

.serach-box form {
    margin-top: 20px;
    float: right;
}

.serach-box form input {
    padding: 5px;
    border-radius: 50px;
}

.serach-box span {
    cursor: pointer;
}

nav ul {
    display: flex;
}

nav li:hover {
    background-color: rgb(255, 174, 24);
    color: black;
}

.inline::after {
    content: "";
    display: table;
    clear: both;
}

.inline nav li {
    margin: 10px;
    padding: 10px;
}

.bg-lightblue {
    background-color: rgb(196, 220, 228);
}

.like-beauty {
    text-align: center;
}

.like-beauty h2 {
    font-weight: 300;
    font-size: x-large;
    margin-top: 12px;
    margin-bottom: 12px;
}

.like-beauty p {
    font-size: small;
    margin: 12px 0px;
}

.btn-stuct button {
    border: none;
    cursor: pointer;
    padding: 14px 28px;
    margin: 12px 0px;
}

.btn-stuct button:hover {
    background-color: rgba(255, 179, 80, 0.767);
    color: white;
}

.orange button {
    background-color: rgba(255, 179, 80, 0.767);
    color: white;
}

.orange button:hover {
    background-color: rgb(255, 174, 24);
    color: black;
}

.bg-wheat {
    background-color: wheat;
}


/*=================================
  Header styling ends here
=================================*/


/*=================================
  main styling starts here
=================================*/

.monthly-box,
.commitment,
.fav-shop,
.featured,
.saying {
    text-align: center;
}

.monthly-box,
.commitment,
.fav-shop,
.featured {
    border-bottom: solid;
    border-color: yellow;
}

.monthly-box h2 {
    font-size: x-large;
    margin: 32px 0px;
}

.monthly-box p {
    font-size: small;
    margin: 12px 0px;
}

.commitment p {
    font-size: small;
    margin: 12px 0px;
}

.items {
    display: flex;
    justify-content: center;
}

.item1 {
    margin: 12px 10px;
}

.items-saying .item1 h3:first-child {
    font-size: x-large;
}

.items-saying .item1:nth-child(4) {
    width: 222px;
}

.item1 figure figcaption {
    margin-top: 10px;
    font-size: large;
}

.items-saying {
    display: flex;
    justify-content: space-between;
}

.items-saying .item1 {
    text-align: left;
    position: relative;
}

.items-saying .item1 ul~span {
    position: absolute;
    top: 0;
    right: 0;
}

.fav-shop h2 {
    font-size: x-large;
    margin: 32px 0px;
}

.saying h2 {
    font-size: x-large;
    margin: 32px 0px;
}

.featured h2 {
    font-size: x-large;
    margin: 32px 0px;
}

.commitment h2 {
    font-size: x-large;
    margin: 32px 0px;
}

.row-img {
    display: flex;
    justify-content: space-between;
}

.row-img figure {
    padding: 10px;
}

* a {
    color: rgb(93, 92, 92);
}


/*=================================
  main styling ends here
=================================*/


/*=================================
  footer styling starts here
=================================*/

footer {
    padding-top: 10px;
}

.footer-1 h2 {
    margin: 20px 0px;
    display: block;
    font-size: xx-large;
    color: rgb(93, 92, 92);
}

.col-2:first-child {
    width: 50%;
}

.footer-1 .col-2 {
    display: inline-block;
}

.footer-1 .col-2:nth-child(2) {
    width: 50%;
}

.first-col {
    width: 50%;
}

.col-2 ul li {
    display: list-item;
    margin: 20px 5px;
    font-size: large;
}

.col-2 ul {
    display: inline-block;
}

.col-2 h3 {
    font-size: large;
    margin-top: -20px;
    color: rgb(93, 92, 92);
}

.col-2 h3 {
    font-size: x-large;
    margin: 24px 0px;
}

.col-2 form {
    position: relative;
    margin-bottom: 10px;
}

.col-2 form input {
    padding: 10px;
    margin: 4px 0px;
    width: 92%
}

.col-2 form button {
    padding: 10px;
    margin-top: 4px;
    position: absolute;
    right: 0;
    background-color: darkgray;
    color: rgb(245, 216, 48);
    text-shadow: black 1px 1px;
}

.col-2 form button:hover {
    background-color: rgb(243, 181, 11);
    color: white;
}

.col-2 p {
    display: inline;
    background-color: yellow;
}

.footer-2 ul {
    display: flex;
    justify-content: space-between;
}

.footer-2 li {
    margin: 20px 0px;
}

.footer-2 li a {
    color: rgb(93, 92, 92);
}

.footer-2 li {
    color: rgb(93, 92, 92);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row li a {
    color: rgb(93, 92, 92);
}

.col-2-app ul li {
    display: inline-block;
}

.col-2-app ul {
    margin-top: -14px;
}


/*=================================
  footer styling ends here
=================================*/


/* ==========
Icons
============== */

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.apple::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    color: rgb(93, 92, 92);
    font-size: x-large;
    content: "\f179";
    margin-right: 10px;
}

.android::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    color: rgb(93, 92, 92);
    font-size: x-large;
    content: "\f17b";
    margin-right: 10px;
}

.cart::before {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    /* font-size: large; */
    content: "\f07a";
    margin-left: 10px;
    color: rgb(93, 92, 92);
}

.arrow-down::before {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    /* font-size: x-large; */
    content: "\f078";
    margin: -10px 5px 5px;
}

.block::before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    font-size: large;
    content: "\f7b1";
    margin: 4px 5px 5px;
}

.g-star::before {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    color: gold;
    font-size: large;
    content: "\f005";
    margin: 4px 5px 5px;
}

.flag-ir::before {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    color: rgb(93, 92, 92);
    font-size: large;
    content: "\f024";
    margin: 4px 5px 5px;
}

.arrow-left::before {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    color: rgb(93, 92, 92);
    font-size: xx-large;
    content: "\f104";
}

.arrow-right::before {
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    color: rgb(93, 92, 92);
    font-size: xx-large;
    content: "\f105";
}


/*media query starts*/


/*media query for 995px starts here*/

@media only screen and (max-width: 995px) {}